.fadein {
    cursor: pointer;
    -webkit-transition: background-color .2s ease-in, color .2s ease-in, fill .2s ease-in, border .2s ease-in;
    transition: background-color .2s ease-in, color .2s ease-in, fill .2s ease-in, border .2s ease-in;
}
@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes slide-up {
  from { margin-top: 100px; }
  to { margin-top: 0; }
}
@keyframes slide-up {
  from { margin-top: 100px; }
  to { margin-top: 0; }
}
@-webkit-keyframes orbit {
    0% {
        left: -40px;
        top: 0px;
        z-index: 5;
    }
    50% {
        left: 150px;
        top: 80px;
    }
    100% {
        left: -40px;
        top: 0px;
        z-index: 2;
    }
}
@keyframes orbit {
    0% {
        left: -40px;
        top: 0px;
        z-index: 5;
    }
    50% {
        left: 150px;
        top: 80px;
    }
    100% {
        left: -40px;
        top: 0px;
        z-index: 2;
    }
}
@-webkit-keyframes gradient {
	0% { background-position: 0% 50% }
	50% { background-position: 100% 50% }
	100% { background-position: 0% 50% }
}
@keyframes gradient {
    0% { background-position: 0% 50% }
	50% { background-position: 100% 50% }
	100% { background-position: 0% 50% }
}

@-webkit-keyframes shooting {
  from { left: -100px; }
  to   { left: calc(100% + 100px); }
}
@keyframes shooting {
  from { left: -100px; }
  to   { left: calc(100% + 100px); }
}
@-webkit-keyframes space {
  to { background-position: center 20rem; }
}
@keyframes space {
  to { background-position: center 20rem; }
}
// stars
@-webkit-keyframes small-tentacle {
    0% { -webkit-transform: rotate(-60deg); }
    86% { -webkit-transform: rotate(-60deg); }
    89% { -webkit-transform: rotate(10deg); }
    100% { -webkit-transform: rotate(10deg); }
}

@keyframes small-tentacle {
    0% { transform: rotate(-60deg); }
    86% { transform: rotate(-60deg); }
    89% { transform: rotate(10deg); }
    100% { transform: rotate(10deg); }
}
@-webkit-keyframes tentacle {
    0% { -webkit-transform: rotate(-30deg); }
    75% { -webkit-transform: rotate(-30deg); }
    80% { -webkit-transform: rotate(-165deg) translate(6px, 8px); }
    82.5% { -webkit-transform: rotate(-165deg) translate(28px, -17px); }
    100% { -webkit-transform: rotate(-165deg) translate(35px, -22px); }
}
@keyframes tentacle {
    0% { transform: rotate(-30deg); }
    75% { transform: rotate(-30deg); }
    80% { transform: rotate(-165deg) translate(6px, 8px); }
    82.5% { transform: rotate(-165deg) translate(28px, -17px); }
    100% { transform: rotate(-165deg) translate(35px, -22px); }
}
@-webkit-keyframes ship {
    0% {
        right: -10%;
        top: -10%;
        margin-top: -55px;
        margin-right: -55px;
    }
    40% {
        right: 50%;
        top: 50%;
    }
    79.5% {
        margin-top: -55px;
        margin-right: -55px;
    }
    84% {
        margin-top: -20px;
        margin-right: 0px;
    }
    100% {
        right: 50%;
        top: 50%;
        margin-top: 0px;
        margin-right: 0px;
    }
}
@keyframes ship {
    0% {
        right: -10%;
        top: -10%;
        margin-top: -55px;
        margin-right: -55px;
    }
    40% {
        right: 50%;
        top: 50%;
    }
    79.5% {
        margin-top: -55px;
        margin-right: -55px;
    }
    84% {
        margin-top: -20px;
        margin-right: 0px;
    }
    100% {
        right: 50%;
        top: 50%;
        margin-top: 0px;
        margin-right: 0px;
    }
}
@-webkit-keyframes ship-rotate {
  0% { -webkit-transform: rotate(-110deg); }
  20% { -webkit-transform: rotate(-110deg); }
  34% { -webkit-transform: rotate(47deg); }
  79% { -webkit-transform: rotate(47deg); }
  100% { -webkit-transform: rotate(47deg); }
}
@keyframes ship-rotate {
  0% { transform: rotate(-110deg); }
  20% { transform: rotate(-110deg); }
  34% { transform: rotate(47deg); }
  79% { transform: rotate(47deg); }
  100% { transform: rotate(47deg); }
}
@-webkit-keyframes ship-shadow {
    0% {
        right: -10%;
        -webkit-transform: scale(1.4, 1);
        opacity: .3;
    }
    40% {
        right: 50%;
        -webkit-transform: scale(0.75, 1);
        opacity: 1;
    }
    100% { right: 50%; }
}
@keyframes ship-shadow {
    0% {
        right: -10%;
        transform: scale(1.4, 1);
        opacity: .3;
    }
    40% {
        right: 50%;
        transform: scale(0.75, 1);
        opacity: 1;
    }
    100% { right: 50%; }
}
@-webkit-keyframes planet-bump {
  0% { margin-left: 0; }
  39% { margin-left: 0; }
  40% { margin-left: -1px; }
  40.5% { margin-left: 1px; }
  41% { margin-left: 0; }
  100% { margin-left: 0; }
}
@keyframes planet-bump {
  0% { margin-left: 0; }
  39% { margin-left: 0; }
  40% { margin-left: -1px; }
  40.5% { margin-left: 1px; }
  41% { margin-left: 0; }
  100% { margin-left: 0; }
}
@-webkit-keyframes flag-pole {
  0% { top: -57px; }
  48% { top: -57px; }
  54% { top: -77px; }
  90% { top: -77px; }
  92% { top: -57px; }
  100% { top: -57px; }
}
@keyframes flag-pole {
  0% { top: -57px; }
  48% { top: -57px; }
  54% { top: -77px; }
  90% { top: -77px; }
  92% { top: -57px; }
  100% { top: -57px; }
}
@-webkit-keyframes flag-unfurl {
  0% { width: 0; }
  55% { width: 0; }
  60% { width: 14px; }
  90% { width: 14px; }
  100% { width: 14px; }
}
@keyframes flag-unfurl {
  0% { width: 0; }
  55% { width: 0; }
  60% { width: 14px; }
  90% { width: 14px; }
  100% { width: 14px; }
}
