a.btn {
    border-radius: 20px;
    font-size: 1rem;
    height: 38px;
    text-transform: uppercase;
    &.btn-transparent {
        border: 1px solid $white;
        background-color: $transparent;
        color: $white;
        &:hover {
            background-color: $white;
            color: $black;
        }
    }
}
