$fa-font-path: "~font-awesome/fonts/";
$fa-font: FontAwesome;

@import '~font-awesome/scss/font-awesome';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');

$opensans: 'Open Sans', sans-serif;
