// general
@import 'typography';
@import 'variables';
// Bootstraps
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/buttons';
// components
@import 'component/button';
@import 'component/header';
@import 'component/footer';
// tools
@import 'tool/animation';
// others
@import '404/404';

html {
  font-size: 16px;
}
body {
    color: $white;
    font-family: $opensans;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
}
#background {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    &.notfound {
        background-color: $violet;
        background-image:  url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle opacity="0.5" fill="%23FFFFFF" cx="28.75" cy="22.338" r="0.713"/><circle opacity="0.2" fill="%23FFFFFF" cx="26.75" cy="79.443" r="0.307"/><circle opacity="0.5" fill="%23FFFFFF" cx="50" cy="41.884" r="0.308"/><circle fill="%23FFFFFF" cx="12.883" cy="42.25" r="0.367"/><circle opacity="0.4" fill="%23FFFFFF" cx="80" cy="72.818" r="0.307"/><circle opacity="0.5" fill="%23FFFFFF" cx="55.625" cy="12.375" r="0.308"/><circle opacity="0.2" fill="%23FFFFFF" cx="73.307" cy="89.375" r="0.308"/><circle opacity="0.5" fill="%23FFFFFF" cx="73" cy="53.884" r="0.308"/><circle opacity="0.5" fill="%23FFFFFF" cx="38.875" cy="89.432" r="0.385"/></svg>');
        background-size: 20rem 20rem;
        background-position: center 0;
        -webkit-animation: space 20s linear infinite;
        animation: space 20s linear infinite;
    }
}
#container {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 3;
}
.container {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    .wrapper {
        flex: 0 0 100%;
        max-width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        position: relative;
        text-align: center;
        width: 100%;
        span {
            color: rgba($grey, .3);
        }
    }
}
